snippet label
	 ng-bind="'${1:label}'|wbi18n"${2}
snippet repeat
	ng-repeat="${1:(key, value)} in ${2:rows}"${3}
snippet number
	{{ ${1:number} | numberFormat }}
snippet trans
	{{ '${1:REPORTS}' | translate:lang }}
snippet for
	<template ngFor let-item [ngForOf]="${1:items}">
		{{ ${2:item} }}
	</template>

