snippet todo
	////////////////////////////////
	// TODO ${1:delete before prod!!}
	${2://code}
	// TODO $1
	////////////////////////////////
snippet stop
	${1:event}.stopPropagation();${2}
snippet log
	console.log(${1:'oki'});${2}
